<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EZ Chorus copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EZ Chorus.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EZ Crusher Standalone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>EZ Delay Standalone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>EZ Delay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>EZ Filter Standalone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>EZ Modulator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>EZ Spacer Standalone.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>EZ Spacer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EZChorusMac.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EZCrusher.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>EZFX.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EZFXContainer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EZFilter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B1E03D723759D8A00DDFC03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B1E03F123759DC000DDFC03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B5BE7FB236DEEC3004B5EEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B6096A82382C7A7009826B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8CFBB02354C1BE00F146C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8CFBD52354C2A500F146C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B8F5C832385AA180025B6AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BADC15A236861FE00A08F19</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BC03C6D2385BA9B00B925E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BC03CA92385BBE100B925E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
